# gitに無視して欲しいファイルはここに書き込もう
.DS_Store

*.pbxproj
!project.pbxproj


!Alarm/Alarm.xcodeproj/project.pbxproj

Alarm/Alarm.xcodeproj/project.xcworkspace/xcuserdata/e145709.xcuserdatad/UserInterfaceState.xcuserstate

Alarm/Alarm.xcodeproj/xcuserdata/e145709.xcuserdatad/xcschemes/Alarm.xcscheme

Alarm/Alarm.xcodeproj/xcuserdata/e145709.xcuserdatad/xcschemes/xcschememanagement.plist

!Alarm/Alarm/DetailViewController.swift

